service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null && hasPermision('authorized');
    }

    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }

    function hasPermision(permisionName) {
      return get(/databases/$(database)/documents/Users/$(request.auth.uid)/Permissions/$(permisionName)).data.allow == true;
    }

    match /Candidate/{document=**} {
      allow read, write: if isAuthenticated();
    }

    match /ClientContact/{clientContact} {
      allow read, write: if isAuthenticated();
    }

    match /Company/{company} {
      allow read, write: if isAuthenticated();
    }

    match /Job/{job} {
      allow read, write: if isAuthenticated();

    }

    match /Process/{process} {
      allow read, write: if isAuthenticated();
    }

    match /Users/{user}  {
      allow read, write: if isAuthenticated();

      match /Permissions/{permission} {
        allow read: if isAuthenticated() && (isUserAuthenticated(user) || hasPermision('administrator'));
        allow write: if isAuthenticated() && hasPermision('administrator');
      }

      match /apiKeys/{apiKey} {
        allow read: if isAuthenticated() && isUserAuthenticated(user);
      }
    }
  }
}
