service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }

    function hasPermision(permisionName) {
      return get(/databases/$(database)/documents/Users/$(request.auth.uid)/Permissions/$(permisionName)).data.allow == true;
    }

    match /Candidate/{document=**} {
      allow read, write: if isAuthenticated() && hasPermision('authorized');
    }

    match /Users/{document=**}  {
      allow read, write: if false;
    }
  }
}
