function isAllowed(uid) {
    return uid in {
        "MXKgqRL01yT7mQ0gXcX0beyHAXK2": true,
        "05DuQCPa75MYJrbittYQUx5MLXi1": true,
        "qWFWrlAVNtd58DacBiNe0pL3uEO2": true,
        "xUAiVbnbfrMdIUTVQygu7dHl0ig2": true,
        "svrqpOImHRh0y9MsgbSP2Of8bln2": true
    };
}

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if isAllowed(request.auth.uid);
    }
  }
}
